.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    margin-top:15% ;
}


@media (min-width: 500px) {
    .footer__wrapper {
        margin-top: 10%;
    }
}

.footer h2 {
    font-family: "Roboto-Bold";
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    margin:0px;
}

@media (min-width: 1200px) {
    .footer {
        margin-top:5%;
    }
    .footer h2 {
        padding-top:1%;
    }

}

.footer__text {
    font-family: "Roboto-Medium";
    font-weight: normal;
    font-size: 18px;
    text-align: center;
}

.footer__text {
    margin: 0;
    margin-bottom: 14%;
    padding: 0 5%;
}

@media (min-width: 768px) {
    .footer__text {
        margin-bottom: 3%;
        padding: 0;
    }
}

.social{
    margin-top: 2%;
}

@media (min-width: 500px) {
    .social {
        margin-top: 6%;
    }
}

.social__menu {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    column-gap: 51px;
    margin: 0;
}

@media (min-width: 500px) {
    .social__menu {
        column-gap: 60px;
    }
}

.social__nav-item {
    list-style-type: none;
    text-align: center;
}

.footer__share {
    font-family: "Roboto-Medium";
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    color: #828282;
    display: block;
    margin-bottom: 90px;
}

@media (min-width: 768px) {
    .footer__share{
        font-size: 14px;
    }
}