.header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    column-gap: 25px;
    margin-bottom: 25%;
  }
  .header__wrapper h1 {
    font-family: "Roboto-bold";
    font-weight: bold;
    font-size: 47px;
    box-sizing: content-box;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 26px;
  }

  .header__wrapper h2{
    font-family: "Roboto-Medium";
    font-weight: normal;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 25%;
  }

  .header__menu {
    display: none;
  }

  .desktop {
    display: none;
  }

  .language {
    display: none;
  }

  .header__image {
    display: inline-block;
  }

  @media (min-width: 768px) {
    .header__wrapper h1 {
        padding-top: 69px;
        padding-bottom: 0px;
    }

    .header__wrapper h2{
        margin:0px;
        padding-bottom:7px;
    }
    .header__wrapper{
        align-items: flex-start;
        flex-direction: column;
        margin-top: 2.5%;
        margin-bottom: 0;
    }

    .header__nav {
        width: 100%;
        display: flex;
    }
   .header__menu {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-family: "Roboto-Bold";
        font-weight: bold;
        font-size: 18px;
        padding-left: 0;
        margin: 0;
    }

    .header__nav-item {
        list-style-type: none;
        text-align: center;
    }

    .header__nav-item a {
        text-decoration: none;
        color:#828282;
    }

    .header__content {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 5%;
    }

    .language{
        display: flex;
        transform: rotate(270deg);
        padding-left: 2px;
        padding-top: 56px;
    }

    .language__menu {
        display: flex;
        flex-direction: row;
        column-gap: 5px;        
        padding-left: 0px;
        margin: 0;
    }

    .language__menu-item{
        list-style-type: none;
        color:#000
    }

    .language__menu-item a {
        text-decoration: none;
        color:#828282;
        font-family: "Roboto-Bold";
        font-weight: normal;
        font-size: 18px;
    }

    .active {
        font-family: "Roboto-Bold";
        font-weight: normal;
        font-size: 18px;
        color:#000;
    }
   .active a{
        font-family: "Roboto-Bold";
        font-weight: normal;
        font-size: 18px;
        color:#000;
    }
    
    .header__image {
        width: 100%;
        margin-bottom: 11%;
    }
    .header__image img{
        width: 100%;
    }

    .desktop {
      display: block;
    }

    .mobile{
        display: none;
    }
  }

  @media (min-width: 1200px) {
    .header__menu::after{
      content: "";
      position: absolute;
      background-image: url('../images/line.svg');
      top: 55px;
      left: 0;
      width: 942px;
      height: 2px;
    }  
  }

  .menu-btn {
    display: block;
    width: 34px;
    height: 20px;
    position: relative;
    top: 55px;
    left: 90%;
    z-index: 2;
    overflow: hidden;
  }

  .menu-btn span {
    width: 37px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    transition: all 0.5s;
  }

  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 8px);
  }

  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 8px);
  }

  @media (min-width: 768px) {
    .menu-btn{ 
    display: none;
    }
  }